@page
@model gestaopedagogica.Pages.Identity.Account.LogoutModel

<h3>Sessão terminada com sucesso!</h3>
<p>Será redirecionado para a página de login em 3 segundos...</p>

<script>
    setTimeout(function() {
        window.location.href = '/Identity/Account/Login';
    }, 3000); // 3 segundos
</script>
