@page "/logout"
@model gestaopedagogica.Pages.Identity.Account.LogoutModel

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Logout</title>
</head>
<body>
    <form method="post">
        <button type="submit">Click to logout</button>
    </form>
</body>
</html>
