<div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
    <div class="card-header">@Title</div>
    <div class="card-body">
        <h5 class="card-title">@Value</h5>
        <p class="card-text">@Description</p>
    </div>
</div>

@code {
    [Parameter] public string Title { get; set; }
    [Parameter] public string Value { get; set; }
    [Parameter] public string Description { get; set; }
}
